* {
  margin: 0;
  padding: 0;
}
html {
    scroll-behavior: smooth;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 0px) {
  header {
    position: relative;
    width: 100%;
    height: 574px;
    background-image: linear-gradient(
        rgba(37, 43, 73, 0.8),
        rgba(37, 43, 73, 0.8)
      ),
      url(./../img/background-m.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flex();
    overflow: hidden;
    .header-menu {
      position: absolute;
      top: 0px;
      width: 320px;
      height: 56px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white;
      &__favicon > a > img {
        height: 15px;
        width: auto;
        margin-left: 20px;
      }
      #burger_toggle {
        display: none;
      }

      .burger_btn {
        margin-right: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 18px;
        position: relative;
        z-index: 99;
        span {
          display: block;
          width: 24px;
          height: 3px;
          background-color: rgb(255, 255, 255);
          transition: 0.1s;

          &::before,
          &::after {
            position: absolute;
            content: "";
            display: block;
            width: 24px;
            height: 3px;
            background-color: rgb(255, 255, 255);
            transition: 0.5s;
          }
          &:before {
            transform: translateY(-7px);
          }
          &:after {
            transform: translateY(7px);
          }
        }
      }
      &__menu_box {
        display: block;
        position: absolute;
        top: 57px;
        right: -100%;
        width: 320px;
        height: 490px;
        padding-top: 27px;
        margin: 0;
        list-style: none;
        text-align: center;
        background-image: linear-gradient(
            rgba(37, 43, 73, 0.8),
            rgba(37, 43, 73, 0.8)
          ),
          url(./../img/background-m.png);
        background-position-y: -57px;
        background-size: cover;
        transition: 1s;
        .menu_item {
          display: block;
          text-decoration: none;
          padding: 24px 24px;
          font-family: Raleway-Bold;
          font-size: 13px;
          color: white;
          text-align: start;
        }
      }
      #burger_toggle:checked ~ .header-menu__menu_box {
        right: 0;
      }
    }
    #burger_toggle:checked ~ .burger_btn > span {
      background-color: rgba(255, 255, 255, 0);
    }

    #burger_toggle:checked ~ .burger_btn > span::before {
      transform: rotate(45deg);
    }

    #burger_toggle:checked ~ .burger_btn > span::after {
      transform: rotate(-45deg);
    }

    .header-baner {
      margin-top: 57px;
      width: 280px;
      height: 416px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > h2 {
        width: 280px;
        font-family: Raleway-Black;
        text-align: center;
        font-size: 36px;
        color: white;
      }

      & > h5 {
        width: 280px;
        font-family: Raleway-Thin;
        text-align: center;
        font-size: 14px;
        color: white;
      }

      &__find {
        cursor: pointer;
        font-family: Raleway-Black;
        color: white;
        font-size: 24px;
        width: 280px;
        height: 60px;
        background-color: #ff4343;
        border: none;
      }
      &__find:hover {
        background-color: #e71414;
      }
      &__find:active {
        background-color: #ff4343;
        box-shadow: 4px 4px 30px #ff4343;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 768px;
    background-image: linear-gradient(
        rgba(37, 43, 73, 0.8),
        rgba(37, 43, 73, 0.8)
      ),
      url(../img/background-t.png);
    .header-menu {
      width: 984px;
      height: 99px;
      &__favicon > a > img {
        height: 25px;
        width: auto;
        margin-left: 20px;
      }

      .burger_btn {
        display: none;
      }

      &__menu_box {
        display: flex;
        top: 0px;
        right: 0;
        width: 600px;
        height: 99px;
        padding-top: 0px;
        margin: 0;
        list-style: none;
        text-align: center;
        background-image: none;
        background-size: cover;
        transition: 0s;
        .menu_item {
          width: 120px;
          height: 96px;
          text-decoration: none;
          padding: 0px;
          font-family: Raleway-Bold;
          line-height: 96px;
          font-size: 12px;
          color: white;
          text-align: center;
          &:hover {
            border-bottom: 3px solid white;
          }
        }
      }
    }
    .header-baner {
      margin-top: 130px;
      width: 984px;
      height: 385px;
      align-items: center;
      & > h2 {
        width: 984px;
        font-size: 48px;
      }
      & > h5 {
        width: 984px;
        font-size: 18px;
      }

      &__find {
        width: 314px;
        height: 80px;
      }
    }
  }
}

@media only screen and (min-width: 1510px) {
  header {
    height: 747px;
    background-image: linear-gradient(
        rgba(37, 43, 73, 0.8),
        rgba(37, 43, 73, 0.8)
      ),
      url(./../img/background-d.png);
    .header-menu {
      width: 1170px;
      height: 99px;
      &__favicon > a > img {
        height: 25px;
        width: auto;
        margin-left: 20px;
      }
      &__menu_box {
        width: 670px;
        height: 99px;
        .menu_item {
          width: 134px;
          height: 96px;
          text-decoration: none;
          padding: 0px;
          font-family: Raleway-Bold;
          line-height: 96px;
          font-size: 13px;
          color: white;
          text-align: center;
        }
      }
    }
    .header-baner {
      margin-top: 110px;
      width: 1170px;
      height: 397px;
      & > h2 {
        width: 1170px;
        font-size: 64px;
      }

      & > h5 {
        width: 1170px;
        font-size: 24px;
      }

      &__find {
        width: 370px;
        height: 80px;
      }
    }
  }
}
