.main__our-team {
    width: 100%;
    height: 2328px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-items {
        width: 280px;
        height: 2164px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .our-team-item {
            width: 280px;
            height: 528px;
            &__photo1,
            &__photo2,
            &__photo3,
            &__photo4 {
                width: 280px;
                height: 228px;
                background-size: cover;
                background-position: center;
            }
            &__photo1 {
                background-image: url(./../img/Rectangle_1.png);
            }
            &__photo2 {
                background-image: url(./../img/Rectangle_2.png);
            }
            &__photo3 {
                background-image: url(./../img/Rectangle_3.png);
            }
            &__photo4 {
                background-image: url(./../img/Rectangle_4.png);
            }
            & > h2 {
                font-family: Raleway-Bold;
                font-size: 18px;
                color: black;
                margin-top: 20px;
            }
            & > h3 {
                font-family: Raleway-Regular;
                font-size: 14px;
                color: red;
                margin-top: 5px;
            }
            & > p {
                font-family: Raleway-Regular;
                font-size: 14px;
                color: #6c7279;
                margin-top: 40px;
            }
            &__soc-links > a > img {
                width: 40px;
                height: 40px;
                margin-top: 55px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
  .main__our-team {
    height: 678px;
    &-items {
      width: 984px;
      height: 678px;
      flex-direction: row;
      .our-team-item {
        width: 228px;
        height: 520px;
        &__photo1,
        &__photo2,
        &__photo3,
        &__photo4 {
          width: 228px;
          height: 228px;
        }
        & > h2 {
          font-size: 18px;
          color: black;
          margin-top: 25px;
        }
        & > h3 {
          font-size: 14px;
        }
        & > p {
          font-size: 14px;
          margin-top: 22px;
        }
        &__soc-links > a > img {
          margin-top: 39px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1510px) {
  .main__our-team {
    height: 847px;
    &-items {
      width: 1170px;
      height: 619px;
      .our-team-item {
        width: 270px;
        height: 619px;
        &__photo1,
        &__photo2,
        &__photo3,
        &__photo4 {
          width: 270px;
          height: 270px;
        }
        & > h2 {
          font-size: 24px;
          color: black;
          margin-top: 30px;
        }
        & > h3 {
          font-size: 18px;
        }
        & > p {
          font-size: 18px;
          margin-top: 18px;
        }
        &__soc-links > a > img {
          margin-top: 39px;
        }
      }
    }
  }
}
